.mainbody {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mdl-button.bruno {
	background-color: red;
    width: 10em;
    height: 10em;
}
.mdl-button.bruno:hover{
	background-color: red;
}
body{
	background-image: url("background.jpg"); 
	width: 100%
}
h1{
	font-size: 48px;
}
